extends layout

block content
  div(class='category-detail')
    h1 All #{category.name} Items
    div(class='category-options')
      p
        a(class='update' href=category.url+'/update') Update Category
      p
        a(class='delete' href=category.url+'/delete') Delete Category

    div(class='category-items')
    p #{category.description}
      each item in category_items
        div(class='category-section')
          a(href=item.url class='category-link') #{item.name}
          p $#{item.price}

      else
        li This category has no items.