extends layout

block content
  div(class='vendor-detail')
    h1 All Items by #{vendor.name}
    div(class='vendor-options')
      p
        a(class='update' href=vendor.url+'/update') Update Vendor
      p
        a(class='delete' href=vendor.url+'/delete') Delete Vendor

    div(class='vendor-items')
    p #{vendor.description}
      each item in vendor_items
        div(class='vendor-section')
          a(href=item.url class='vendor-link') #{item.name}
          p $#{item.price}
          i #{item.description}

      else
        li This vendor has no items.